:root {
  --deskTop-back-color-darkBlue: hsl(235, 21%, 11%);
  --color1: hsl(0, 0%, 98%);
  --color2: hsl(236, 33%, 92%);
  --color3: hsl(233, 11%, 84%);
  --color4: hsl(236, 9%, 61%);
  --color5: hsl(235, 19%, 35%);
  --color6: hsl(235, 21%, 11%);
  --color7: hsl(235, 24%, 19%);
  --color8: hsl(234, 39%, 85%);
  --color9: hsl(236, 33%, 92%);
  --color10: hsl(234, 11%, 52%);
  --color11: hsl(233, 14%, 35%);
  --color12: hsl(237, 14%, 26%);
  --color13:#000;
}

.light-mode {
  --color3:hsl(235, 19%, 35%);
  --color6: hsl(0, 0%, 98%);
  --color7:hsl(0, 0%, 98%);
  --color10: hsl(236, 9%, 61%);
  --color13:hsl(234, 39%, 85%);
  --color2:hsl(235, 19%, 35%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color6);
  height: 100vh;
  transition: all 0.4s ease-in-out;
}

.todo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-backImage {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.todo-container {
  position: absolute;
  width: 700px;
  top: 80px;
}

.todo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: papayawhip;
  padding: 10px;
  transition: all 0.6s ease-in-out;
  font-weight: 400;
}

.todo-title img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.todo-main {
  display: flex;
  position: relative;
}

.main-img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#main-text {
  width: 100%;
  line-height: 50px;
  background-color: var(--color7);
  border: 1px solid var(--color7);
  border-radius: 10px;
  margin: 30px 0;
  padding: 7px 25px 7px 80px;
  font-size: 1.5rem;
  position: relative;
  color: var(--color2);
}

input:focus {
  outline: none;
}

.main-circularBtn {
  background: transparent;
  top: 46px;
  left: 25px;
  border: 1.5px solid var(--color10);
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-img {
  width: 15px;
  height: 15px;
}

.todo-list {
  width: 100%;
  line-height: 50px;
  background-color: var(--color7);
  border: none;
  border-bottom: 1px solid var(--color10);
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  color: var(--color3);
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 10px var(--color13);
}

.list-check {
  position: relative;
  background: transparent;
  border: 1.5px solid var(--color10);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.list-text {
  text-indent: 20px;
  font-size: 1.5rem;
  color: var(--color10);
  width: 85%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.list-delete {
  width: 35px;
  height: 25px;
  right: 25px;
  position: absolute;
  border: none;
  display: flex;
  align-items: center;
  background-color: var(--color7);
  cursor: pointer;
}

.list-foot {
  width: 100%;
  line-height: 50px;
  background-color: var(--color7);
  border: 1px solid var(--color7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 3px 25px;
  color: var(--color10);
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 5px 20px var(--color13);
}

.foot-middle {
  display: flex;
  transition: all 0.4s ease-in-out;
}

.foot-middle li {
  padding: 0 15px;
}

.foot-middle .foot-clear {
  margin-left: 45px;
  padding-right: 5px;
}

.foot-all,
.foot-active,
.foot-completed,
.foot-clear {
  cursor: pointer;
}

.active-btn {
  color: hsl(228deg, 88%, 48%);
  transition: all 0.4s ease-in-out;
}

.active-display {
  display: none;
  transition: all 0.4s ease-in-out;
}

.active-events {
  pointer-events: none;
}

.tail-prompt {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  color: var(--color10);
}

@media screen and (max-width: 450px) {
  .todo-container {
    max-width: 390px;
    top: 20px;
    padding: 0 20px;
  }
  .todo-title img {
    width: 35px;
    height: 35px;
  }
  .todo-backImage {
    width: 100%;
    height: 225px !important;
  }
  #main-text {
    padding: 5px 0px 5px 65px;
    line-height: 50px !important;
  }
  .main-circularBtn {
    width: 30px;
    height: 30px;
  }
  .todo-allList {
    margin-top: 10px;
  }
  .todo-main {
    margin: 0;
  }
  .todo-list {
    line-height: 25px;
    padding: 15px 15px;
  }
  .list-check {
    width: 18px;
    height: 18px;
    padding: 12px;
  }
  .list-text {
    text-indent: 20px;
    font-size: 1.1rem;
  }
  .list-delete {
    width: 30px;
    height: 20px;
    right: 35px;
  }
  .list-foot {
    width: 100%;
    line-height: 25px;
    padding: 5px 25px;
    display: flex;
    font-size: 1rem;
    line-height: 45px;
  }
  .foot-all,
.foot-active,
.foot-completed {
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    width: 100%;
    left: 0px;
    right: 0px;
    border-radius: 5px;
    padding: 5px 0px !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .foot-all {
    margin-left: 20px;
    width: 38%;
    padding-left: 65px !important;
    background-color: var(--color7);
    box-shadow: 5px 10px 30px var(--color13);
  }
  .foot-active {
    margin-left: 150px;
    width: 38%;
    padding-left: 15px !important;
    background-color: var(--color7);
    box-shadow: 30px 10px 30px var(--color13);
  }
  .foot-completed {
    margin-left: 255px;
    width: 29%;
    background-color: var(--color7);
    box-shadow: 20px 10px 20px var(--color13);
  }
  .foot-clear {
    display: flex;
  }
  .foot-middle {
    display: block;
  }
  .active-btn {
    color: hsl(228deg, 88%, 48%);
  }
  .tail-prompt {
    margin-top: 120px;
  }
}
@media screen and (max-width: 390px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
  .todo {
    font-size: 13px;
  }
  .todo-backImage {
    width: 100%;
    height: 225px !important;
  }
  .todo-container {
    width: 375px;
    top: 15px;
    padding: 0 20px;
  }
  .todo-title img {
    width: 25px;
    height: 25px;
  }
  #main-text {
    padding: 3px 0px 3px 60px;
  }
  .main-circularBtn {
    width: 25px;
    height: 25px;
  }
  .todo-allList {
    margin-top: -15px;
  }
  .todo-main {
    margin: 0;
  }
  .todo-list {
    line-height: 20px;
    padding: 15px 15px;
  }
  .list-check {
    width: 18px;
    height: 18px;
    padding: 12px;
  }
  .list-text {
    text-indent: 20px;
    font-size: 1.1rem;
  }
  .list-delete {
    width: 25px;
    height: 15px;
    right: 25px;
  }
  .list-foot {
    width: 100%;
    line-height: 20px;
    padding: 5px 25px;
    display: flex;
    font-size: 1rem;
    line-height: 40px;
  }
  .foot-all, .foot-active, .foot-completed {
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    width: 100%;
    left: 0px;
    right: 0px;
    border-radius: 5px;
    padding: 5px 0px !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .foot-all {
    margin-left: 20px;
    width: 100px;
    padding-left: 60px !important;
    background-color: var(--color7);
    box-shadow: 5px 10px 30px var(--color13);
  }
  .foot-active {
    margin-left: 100px;
    width: 130px;
    padding-left: 30px !important;
    background-color: var(--color7);
    box-shadow: 30px 10px 30px var(--color13);
  }
  .foot-completed {
    margin-left: 205px;
    width: 148px;
    background-color: var(--color7);
    box-shadow: 20px 10px 20px var(--color13);
  }
  .foot-clear {
    display: flex;
  }
  .foot-middle {
    display: block;
  }
  .active-btn {
    color: hsl(228deg, 88%, 48%);
  }
  .tail-prompt {
    margin-top: 120px;
  }
}/*# sourceMappingURL=style.css.map */